@charset "UTF-8";
.dialog{
	background-color: #fff;
	position: fixed;
	display: none;
	border:1px solid #ddd;
	border-radius: 10px;
	overflow: hidden;
	z-index: 9998;
}
.dialog .data{
	position:relative;
}
#addBox{
	width:1000px;
	top:180px;
	left: 50%;
}

.box-head{
	width:100%;
	height:30px;
	line-height: 30px;
	background: lightgreen;
}
.box-head .title{
	margin-left: 20px;
	color:rgba(0,0,0,.5);
}
.box-head .fr{
	display: inline-block;
	float: right;
	width:30px;
	height:30px;
	line-height: 30px;
}
.box-head .close{
	display: inline-block;
	float: right;
	text-align: center;
	width:30px;
	font-size: 20px;
	height:30px;
	color:rgba(0,0,0,.7);
}
.box-head .close:hover{
	background-color:red;
	color:#fff;
}

#addBox .box-body{
	width:100%;
	height:530px;
	overflow: hidden;
}
#addBox .box-body .addTable-box{
	width:980px;
	margin:0 auto;
	height: 440px;
	margin-top: 20px;
	overflow: auto;
}

#add-table{
	border-collapse: collapse;
}

.box-body .addTable-box .colName{
	position:sticky;
	top:0;
	border:none;
	padding:0;
	background-color:#fff;
	padding-bottom: 10px;
}
.box-body .addTable-box .adBT{
	width:25px;
	height:25px;
	color:#fff;
	border:1px solid #ddd;
	border-radius: 3px;
	margin-right: 5px;
	font-size: 18px;
}
.box-body .addTable-box #addBT{
	background-color:cornflowerblue;
}
.box-body .addTable-box #delBT{
	background-color:indianred;
	margin-right:20px;
}
.box-foot{
	width:100%;
	height:40px;
	background:#ddd;
}
.box-foot .footBT-list{
	margin-left: 20px;
	height:40px;
}
.box-foot .footBT-item{
	float:left;
}
.box-foot .footBT{
	display: block;
	width: 100px;
	height: 30px;
	margin:5px 10px;
	border:none;
	border-radius: 5px;
	outline: none;
}
.box-foot #submit-addAll,.box-foot #submit-edit,
.dialog .box-foot .submit
{
	background:#007BFF;
	color:#fff;
}

.box-foot .close{
	background:indianred;
	color:#fff;
}

/*编辑页面*/
#editBox{
	width:400px;
	top:20px;
	left: 50%;
	margin-left: -200px;
}
#editBox .box-body{
	width:100%;
	max-height:800px;
	overflow: auto;
}
#editBox .box-body .table-box{
	width:340px;
	margin:40px auto;
}


.import-chooseFileBox{
	width:400px;
	top:400px;
	left: 50%;
	margin-left: -200px;
}
.import-chooseFileBox .box-body{
	padding:30px 10px;
	text-align:center;
}
.dialog .getValue-box{
	position:absolute;
	width:100%;
	max-height:150px;
	display:none; 
	overflow:auto;
	top:35px;
	left:0;
	border:1px solid #ddd;
	z-index:5;
	background:#fff;
}
.dialog .getValue-box .list .item .val{
    padding: 0px 6px;
    height:30px;
    line-height: 30px;
    font-size: 14px;	
    white-space:nowrap;
}
.dialog .getValue-box .list .keySelected ,
.dialog .getValue-box .list .item:hover {
	background-color:#4c555d;
	color:#fff;
}
.dialog .getValue-box .list .item{
	width:100%;
    cursor:pointer;
	display:none;
}
.dialog .getValue-box .list .show{
	display:block;
}


.box-body .addTable-box .dataInput{
	width:110px;
	height:25px;
	padding:0 5px;
	border-radius: 2px;
	margin:5px 2px;
	font-size:16px;
	font-weight:700;
	text-align:center;
}
#editBox .box-body .table-box .dataInput{
	width:150px;
	height:25px;
	padding:0 5px;
	border-radius: 2px;
	margin:10px 0px;
}
.dialog .dataSelect,
.dialog .dataInput{
	background-color:#fff;
	border-radius: 2px;
	border:2px solid;
}
.dialog .dataSelect{
	width:164px;
	height:29px;
	padding:0 5px;
	margin:10px 0px;
}
#addBox .dataSelect{
	width:124px;
}

#addBox .box-body .body-head{
	margin:10px 10px;
	text-indent:5px;
}


/*��ӡ�뵼��*/
.printing-setBox,
.export-setBox
{
	width:460px;
	top:200px;
	left: 50%;
	margin-left: -230px;
}
.printing-setBox .box-body,
.export-setBox .box-body
{
	padding:20px;
}
.printing-setBox .box-body .table,
.export-setBox .box-body .table
{
	width:100%;
	border-collapse: collapse;
}
.printing-setBox .box-body .table td,
.export-setBox .box-body .table td
{
	height:30px;
}
.printing-setBox .dataInput{
	width:262px;
	height:20px;
	padding:0 5px;
	border-radius: 2px;
	margin:5px 2px;
	font-weight:700;
}
.printing-setBox .box-body .table .set-title,
.export-setBox .box-body .table .set-title
{
	width:90px;
}
.printing-setBox .box-body .table .data-td,
.export-setBox .box-body .table .data-td{
	width:330px;
	font-size:0;
}
.printing-setBox .box-body .table .data-td .dataBox,
.export-setBox .box-body .table .data-td .dataBox
{
	display:inline-block;
	width:165px;
	height:20px;
	line-height:20px;
}
.printing-setBox .box-body .table .data-td .dataBox,
.export-setBox .box-body .table .data-td .dataBox
{
	font-size:16px;
}
.printing-setBox .box-body .table .data-td .cheb{
	vertical-align: -2px;
	width:15px;
	height:15px;
}
.printing-setBox .box-body .table .data-td .text{
	margin-left:4px;
}
.printing-setBox .box-body .table tr{
	border-bottom:1px solid #999;
	padding:5px;
}
.printing-setBox .box-body .table .printingRow-td .dataBox,
.export-setBox .box-body .table .putRow-td .dataBox
{
	width:110px;
	height:30px;
	line-height:30px;
}
.printing-setBox .box-body .table .printingRow-td .customBox,
.export-setBox .box-body .table .putRow-td .customBox
{
	width:100%;
	height:30px;
	line-height:30px;
}
.printing-setBox .box-body .table .printingRow-td .customBox .rowNum,
.export-setBox .box-body .table .putRow-td .customBox .rowNum
{
	width:60px;
	height:15px;
	padding:0px 5px;
	font-size:14px;
	font-weight:700;
}
.printing-setBox .box-body .table .printingRow-td .customBox .reminder,
.export-setBox .box-body .table .putRow-td .customBox .reminder
{
	font-size:12px;
}