
.content-body .table-box{
	width:100%;
	overflow: hidden;
	min-height:600px;
	position: relative;
}
.table-top{
	height:50px;
	width:100%;
	position: relative;
	background-color:#F5DEB3;
}
.table-top .tablename{
	text-align: center;
	line-height: 50px;
	font-size: 1.25rem;
	font-weight: 700;
}
.table-top .fr .list{
	margin-right: 10px;
	height:50px;
}
.table-top .fr .list .item,
.table-top .fl .list .item{
	display: inline-block;
	position: relative;
}

.table-top .fl .list .item .link{
	display: block;
	height:50px;
	padding:0 5px;
	float:right;
	line-height: 50px;
	text-align:center;
	color:#444 ;
	font-weight:750;
}

/*设置按钮各自颜色*/
.table-top .fr .list .item .link.importData{
	background-color:#007bff;
}
.table-top .fr .list .item .link.exportData{
	background-color:#ff9933;
}
.table-top .fr .list .item .link.addData{
	background-color:#cece0f;
}
.table-top .fr .list .item .link{
	display:block;
	height:30px;
	line-height:30px;
	margin:10px 5px;
	padding:0 5px;
	border-radius:5px;
	background-color:#cd5c5c;
	color:#eee;
	float:right;
	text-align:center;
}

.table-top .fr .list .item .link:hover,
.table-top .fl .list .item .link:hover{
	color:#red !important;
}

.table-top  .list .dropdown{
	position:relative;
}

/* .table-top .list .dropdown:hover .dropdown-content{
	display: block;
} */
.table-top #showColMenu-dropdown .dropdown-content{
	width:180px;
	max-height:300px;
	overflow: auto;
	top:50px;
	left: 0px;
}
.table-top #showColMenu-dropdown .dropdown-content .dropitem input{
	margin:0 4px;
}
.table-top #dataCheckedMenu-dropdown .dropdown-content{
	min-width:80px;
	width:100%;
	top:50px;
	left: 0px;
}
.table-top #dataCheckedMenu-dropdown .dropdown-content .droplist .dropitem a{
	display: block;
	padding:0px 6px;
	text-align:center;
	line-height: 26px;
	font-size: 14px;
	color:rgba(0,0,0,.5);
}
.table-top #dataCheckedMenu-dropdown .dropdown-content .droplist .dropitem a:hover{
	background-color:#4c555d;
	color:#fff;
}
.table-top .list .dropdown .dropdown-content .dropitem{
	font-size: 15px;
	color:rgba(0,0,0,.8);
	line-height: 18px;
}
/*.table-top .list .dropdown .dropdown-content::after {*/
/*	content: " ";*/
/*	position: absolute;*/
/*	bottom: 100%;  !* 鎻愮ず宸ュ叿澶撮儴 *!*/
/*	left: 20%;*/
/*	margin-left: -10px;*/
/*	border-width: 10px;*/
/*	border-style: solid;*/
/*	border-color: transparent transparent white transparent;*/
/*}*/
/*.table-top .list .dropdown .dropdown-content::before {*/
/*	content: " ";*/
/*	position: absolute;*/
/*	bottom: 100%;  !* 鎻愮ず宸ュ叿澶撮儴 *!*/
/*	left: 0%;*/
/*	width:100%;*/
/*	height:20px;*/
/*}*/

.datatable{
	width:100%;
	border-collapse: collapse;
	background-color:#fff;
}
.datatable.long{
	width:2600px;
	position:relative;
	left:0px;
}
.row,.colname-tr{
	height:40px;
	line-height: 40px;
}
.datatable .colname-th,.datatable .hor{
	border:1px solid #eee;
}
.datatable .hor{
	overflow:hidden;
	max-width:300px;
	white-space:nowrap;
    text-overflow: ellipsis;
}
.datatable .colname-th{
	position: relative;
	white-space:nowrap;
	padding:0 6px;
}
.datatable .colname-th .menu{
	display: inline-block;
	line-height:8px;
	width:16px;
	vertical-align: -5px;
	font-size: 12px;
}
.datatable .colname-th .sortSign{
	color:limegreen;
	display: inline-block;
	cursor: pointer;
	transform: rotate(0deg);
}
.datatable .colname-th .sort-up,
.datatable .colname-th .sort-down{
	color:indianred;
}
.datatable .colname-th .sort-cancel,
#sort-cancel-all{
	display:inline-block;
	width:14px;
	height:5px;
	background:rgba(0,0,0,.3);
	border-radius:3px;
	cursor: pointer;
	font-size:0;
	color:mediumseagreen;
}
.datatable,.datatable .row,.datatable hor,
.totalInfo .row,.totalInfo .hor{
	border: 1px solid #ebebeb;
}
.colname-tr{
	background-color:#f7f7f7;
}
.row:hover{
	background-color:#EDF5FF;
}

/*鍒楃瓫閫�*/
.colscreen{
	display: block;
	width:100%;
	height:3px;
	background-color: limegreen;
	font-size: 12px;
	color:#fff;
	line-height: 20px;
	position: relative;
	cursor:pointer;
	animation-fill-mode: forwards;
}
.colscreen-td{
	cursor:pointer;
	height:20px;
}
@keyframes colscreen{
	0%{height:3px;}
	100%{height:20px;}
}
/* .colscreen-td:hover .colscreen:not(.filtered):not(.sortcol){
	animation: colscreen 0.3s;
	animation-fill-mode:forwards;
}  */  
.datatable .hor .dataCheb{
	width:17px;
	height:17px;
}
.filtered,.sortcol{
	height:20px;
	background-color: darkgoldenrod;
}
.colscreen-dropdown{
	min-width:100px;
	width:100%;
	animation : dropdown 0.3s;
	animation-fill-mode : forwards;
}
.colscreen-dropdown,
.sub-dropdown{
	display: none;
	position: absolute;
	left: 0px ;
	top:20px;
	background-color: rgba(255,255,255,0.95);
	color:#000;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 4;
}
.colscreen-dropdown .dropitem{
	display: block;
	padding:0px 8px;
	line-height: 30px;
	font-size: 0.85rem;
	color:rgba(0,0,0,.5);
	min-width: 80px;
	border-bottom: 1px solid #eee;
	color:rgba(0,0,0,.6);
	font-weight: 500;
}
.colscreen-dropdown .dropitem:hover:not(.disable){
	color:rgba(255,255,255,1);
	background-color:#4B545C;
}
.colscreen-dropdown .vec{
	position: relative;
}
@keyframes dropdown-rmove{
	0%{left:70%;opacity: 0;}
	100%{left:100%;opacity: 1;}
}
@keyframes dropdown-lmove{
	0%{right:70%;opacity: 0;}
	100%{right:100%;opacity: 1;}
}
.colscreen-dropdown .vec:hover:not(.disable) .sub-dropdown{
	display: block;
	/* animation: dropdown-rmove 0.3s;
	animation-fill-mode: forwards; */
}
.colscreen-dropdown .disable{
	color:#ddd;
}
.sub-dropdown{
	display: none;
	position: absolute;
	left:100%;
	top:0;
	background-color: #fff;
}
.colscreen-dropdown .search{
	height:30px;
	padding:10px;
}
.colscreen-dropdown .search .search-group{
	position: relative;
	min-width:110px;
	width:100%;
	height: 30px;
	background: #f2f4f6;
	float:right;
}
/*.colscreen-dropdown .search:hover .search-group{
	width:174px;
}
.colscreen-dropdown .search:hover .search-text{
	width:174px;
}*/
.colscreen-dropdown .search .search-text{
	width:90px;
	height:30px;
	padding:4px 8px;
	outline: 0;
	border:none;
	background: rgba(0,0,0,0);
	float:left;
} 
.colscreen-dropdown .search .search-submit{
	display: block;
	position: absolute;
	top:0;
	right: 0;
	width:30px;
	height:30px;
	line-height: 30px;
	outline: 0;
	background: rgba(0,0,0,0);
	color:rgba(0,0,0,.5);
	border: none;
}
.colscreen-dropdown .search .search-submit:hover{
	color:#000000;
}
.colscreen-dropdown .numscreen-item .sub-dropdown{
	width:280px;
	padding:5px;
	text-align: left;
}
.colscreen-dropdown .numscreen-item .numscreen-val{
	width:100px;
	height:24px;
	padding-left: 5px;
	border-radius: 5px;
	outline: none;
}
.colscreen-dropdown .numscreen-item .sub-dropdown .bottom{
	width:100%;
	height:300px;
	position: absolute;
	top:0px;
	z-index: -1;
}
.colscreen-dropdown .numscreen-item .numscreen-select{
	width:100px;
	height:30px;
	text-align: center;
	border:1px solid rgba(0,0,0,.5);
	outline: none;
	border-radius: 5px;
	background:#f1f1f1;
}
.colscreen-dropdown .numscreen-item .sub-dropdown .numscreen-all-submit{
	outline: none;
	width:60px;
	height:20px;
	background-color: #DDDDDD;
	border-radius: 7px;
	border:none;
}
.colscreen-dropdown .valuescreen{
	position: relative;
}
.colscreen-dropdown .valuescreen .list{
	overflow: auto;
	max-height:300px;
}
.colscreen-dropdown .valuescreen .list .item{
	margin-left: 8px;
	text-align: left;
	border-bottom: 1px solid #eee;
}
.cur-def{
	cursor:default;
}
.cur-poi{
	cursor:pointer;
}
.colscreen-dropdown .valuescreen .list .item .cheb{
	cursor:pointer;
}
.colscreen-dropdown .valuescreen .valuescreen-all-checkbox-box{
	text-align: left;
	vertical-align: middle;
	margin-left: 8px;;
}
.valuescreen-all-submit{
	position: absolute;
	outline: none;
	width:60px;
	height:20px;
	background-color: #DDDDDD;
	border-radius: 7px;
	border:none;
	top:5px;
	right: 8px;
}

/*鍒嗛〉*/
.pageLink-box{
	width:auto;
	height:30px;
	padding:15px 0;
}
.pageLink-box .list{
	height:30px;
	font-size: 0;
	display: table;
	margin:0 auto;
	overflow: hidden;
	border-collapse: collapse;
	border-radius: 15px;
	box-shadow: 0 0 1px ;
}
.pageLink-box .list .item{
	display: inline-block;
	height:30px;
	margin:0;
}
.pageLink-box .list .item .sp{
	display: block;
	padding:0 5px;
	min-width: 20px;
	height:30px;
	line-height: 30px;
	font-size: 0.9rem;
	background-color: #fff;
	text-align: center;
	/*border-right: 1px solid #ddd;*/
}
.pageLink-box .list .item .last{
	border-right: none;
}
.pageLink-box .list .item .thisVal{
	background-color: #4B545C;
	color:#fff;
}
.pageLink-box .list .item .val:hover{
	background-color:#e0e0e0;
}
@keyframes  upShow{
    0%{bottom:0px;opacity: 0;}
    100%{bottom:50px;opacity: 1;}
}
.completeValBox{
    width:100%;
    height:30px;
    position: fixed;
    margin: 0 auto;
    bottom: 50px;
    animation: upShow 0.5s;
    animation-fill-mode: forwards;
    display:none;
    z-index:3;
}
.completeValBox .cont{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 1300px;
    height:30px;
    background:rgba(255,255,255,0.95);
    line-height: 30px;
    border-radius: 10px;
    border:1px solid #ddd;
    box-shadow: 2px 3px 3px #666;
}
.completeValBox .cont .text{
    display:block;
    width:1250px;
    padding:0 10px;
    font-size: 18px;
    overflow: auto;
    white-space:nowrap;
}
.completeValBox .close{
    cursor: pointer;
    position: absolute;
    right:0;
    top:0;
    text-align: center;
    width:30px;
    height:30px;
    background:rgba(255,255,255,0.9);
    color:black;
    border-radius: 0 10px 10px 0;
}
.completeValBox .close:hover{
    background:indianred;
    color: rgba(255,255,255,0.9);
}
@keyframes valShow{
	0%{background:rgba(0,0,0,.0);}
	100%{background:rgba(0,0,0,.1);}
}
.datatable .val:hover{
	animation:valShow 0.2s;
    animation-fill-mode: forwards;
}
.datatable .sec{
	padding:0 3px;
}
.datatable .replenishDataCheb-th{
	font-size:12px;
	line-height:20px;
}
.datatable .replenishDataCheb-th .replenishDataCheb{
	vertical-align: -2px;		/*让字符下移*/
}
.table-top #dataCheckedMenu-dropdown{
	position: relative;
}
.table-top #dataCheckedMenu-dropdown #data-allCheb{
	position:absolute;
	top:18px;
	left:4px;
}
.table-top #dataCheckedMenu-dropdown .dropdownLink{
	padding-left:20px;
}
/*统计信息*/
.content-head .totalInfo-box{
	width:100%;
	margin-top: 72px;
	margin-bottom: 30px;
	position: relative;
}
.content-head .totalInfo{
	width:100%;
	border-collapse: collapse;
	border: 1px solid #ebebeb;
}
.content-head .totalInfo-box .dropdownLink{
	position: relative;
	display: block;
	width:100px;
	height:30px;
	line-height: 30px;
	background: #fff;
	border-radius: 20px;
	text-align: center;
	margin:0 auto;
	color:rgba(0,0,0,.6);
}
/*从上到下淡入的显示*/
@keyframes moveDownShow{
	0%{margin-top:0px;opacity:0;}
	100%{margin-top:30px;opacity:1;}
}
.content-head .totalInfo-box .table-box{
	margin:0 auto;
	margin-top: 10px;
	overflow: hidden;white-space:nowrap;
/*	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 	animation:moveDownShow 1s;
	animation-fill-mode:forwards; */
}
.content-head .totalInfo-box .table-box .totalInfo{
}
.content-head .totalInfo-box .totalInfo-menu{
	text-align:right;
	margin:0 auto;
	padding:4px 0;
}
.content-head .totalInfo-box .totalInfo-menu .refreshTimeText{
	font-size:12px;
	color:#444;
}
.content-head .totalInfo-box .totalInfo-menu .updateTotalInfoBT{
	width:60px;
	height:25px;
	margin-left:3px;
	line-height:25px;
	background-color:limegreen;
	color:#fff;
	border:none;
	border-radius:3px;
	outline:none;
}