@charset "UTF-8";
.totalInfo{
	font-size:26px;
	color:red !important;
}
.row,.colname-tr{
	height:70px;
	line-height: 40px;
}
.totalInfo .hor{
	width:90px;
}
.datatable-printing {
	font-size:30px;
}
.datatable-printing th{
	padding:0 10px;
}