
@keyframes widthByZero{
	0%{width:0;}
	100%{width:1650px;}
}
@keyframes tablelink{
	100%{
	color:rgba(255,255,255,1);
	background-color:#4B545C;}
}
@keyframes dropdown{
	0% {
    -webkit-transform: perspective(400px) rotate3d(1,0,0,90deg);
    transform: perspective(400px) rotate3d(1,0,0,90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
	}
	/*40% {
	    -webkit-transform: perspective(400px) rotate3d(1,0,0,-20deg);
	    transform: perspective(400px) rotate3d(1,0,0,-20deg);
	    -webkit-transition-timing-function: ease-in;
	    transition-timing-function: ease-in;
	}*/
	60% {
	    -webkit-transform: perspective(400px) rotate3d(1,0,0,10deg);
	    transform: perspective(400px) rotate3d(1,0,0,10deg);
	    opacity: 1;
	}
	80% {
	    -webkit-transform: perspective(400px) rotate3d(1,0,0,-5deg);
	    transform: perspective(400px) rotate3d(1,0,0,-5deg);
	}
	100% {
	    -webkit-transform: perspective(400px);
	    transform: perspective(400px);
	}
}
@keyframes totalInfo{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

body{
	font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
body,ul,li,h2{
	padding:0;
	margin:0;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
	color:#007bff;
}
.body{
	width:auto;
	margin-left:280px;
	/*animation:widthByZero .5s ;
	animtaion-timing-function:ease-in;*/
	min-width: 1050px;
}
.head{
	width:calc(100% - 16px);
	height:56px;
	padding:0 8px;
	background:#fff;
	border-bottom: 1px solid #e0e0e0;
	box-shadow: 0 5px ;
}
.head-list{
	list-style-type: none;
}
.head-item a{
	display: block;
	padding:0px 16px;
	line-height: 56px;
	font-size: 1rem;
	color:rgba(0,0,0,.5);
}
.head .tablelink{
	position: relative;
	font-weight: 700;
}
.head .tablelink a:hover{
	animation:tablelink 0.3s;
	animation-fill-mode: forwards;		/*褰撳埌杈剧粓鐐规椂锛屽簲鐢ㄦ晥鏋�*/
}
.head .dropdown-content{
	left: 0;
	top:76px;
}
.head .dropdown-content::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* 鎻愮ず宸ュ叿澶撮儴 */
    left: 20%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}
.head .dropdown-content::before {
    content: " ";
    position: absolute;
    bottom: 100%;  /* 鎻愮ず宸ュ叿澶撮儴 */
    left: 0%;
    width:100%;
    height:20px;
}
.head .tablelink:hover .dropdown-content{
	display: block;
	animation: dropdown 0.3s;
	animation-fill-mode: forwards;
}
.head .head-item .droplist .dropitem{
}
.head .head-item .droplink{
	display:inline-block; 
	min-width: 220px;
	border-bottom: 1px solid #eee;
	color:rgba(0,0,0,.6);
	font-weight: 500;
	-webkit-line-clamp: 1;
}
.head-left .head-item{
	float:left;
}
.head .search .search-group{
	position: relative;
	width:174px;
	height: 30px;
	background: #f2f4f6;
	float:right;
	margin-top: 13px;
	margin-right:10px;
}
.head .search .search-text{
	width:144px;
	height:30px;
	padding:4px 8px;
	outline: 0;
	border:none;
	background: rgba(0,0,0,0);
} 
.head .search .search-submit{
	display: block;
	position: absolute;
	top:0;
	right: 0;
	width:30px;
	height:30px;
	line-height: 30px;
	outline: 0;
	background: rgba(0,0,0,0);
	color:rgba(0,0,0,.5);
	border: none;
}
.head .search .search-submit:hover{
	color:#000000;
}
.head-right .head-item{
	float:right;
}
.head-right .head-list .iconfont a{
	font-size:16px;
}
.content{
	width:auto;
	padding:0 10px;
	background: #f4f6f9;
	min-height:900px;
}
.content-head{
	width:calc(100% - 16px);
	padding:15px 8px;
	overflow: hidden;
}
.content-head .head-left{
	float:left;
	line-height: 42px;
}
.content-head .head-right{
	float:right;
	line-height: 42px;
	font-size: 0.8rem;
}

.content-head .totalInfo-box{
	width:100%;
	margin-top: 72px;
	margin-bottom: 30px;
	position: relative;
}
.content-head .totalInfo{
	width:100%;
	border-collapse: collapse;
	border: 1px solid #ebebeb;
}
.content-head .totalInfo-box .dropdownLink{
	position: relative;
	display: block;
	width:100px;
	height:30px;
	line-height: 30px;
	background: #fff;
	border-radius: 20px;
	text-align: center;
	margin:0 auto;
	color:rgba(0,0,0,.6);
}
.content-head .totalInfo-box .table-box{
	margin:0 auto;
	margin-top: 30px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border-radius: 30px;
	overflow: hidden;
}
/*.content-head .totalInfo-box .dropdownLink:hover::after {
    content: "";
    position: absolute;
    top:100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: white transparent transparent transparent; 
}*/

.content-head .totalInfo-box .dropdownLink:hover + .table-box{
	/*animation: totalInfo 0.9s;
	animation-fill-mode: forwards;*/
}
/*椤佃剼*/
.body .foot{
	width:calc(100% - 30px);
	height:20px;
	background: #f0f2f5;
	border-top: 1px solid #e0e0e0;
	padding:15px;
	line-height: 20px;
	font-size: 14px;
	color:rgba(0,0,0,.6);
}
.body .foot .link{
	font-size: 14px;
	color:rgba(0,0,0,.6);
}
.body .foot .pull-left .link:hover{
	color: rgba(0,0,0,.8);
}
.body .foot .pull-left{
	display: block;
}
.body .foot .pull-right{
	float: right;
	
}


