<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.AccountMapper">


    <!-- 全查 -->
    <select id="findAll" resultType="Account">
		select * from account
	</select>
    <!-- 单查 -->
    <select id="findById" parameterType="int" resultType="Account">
		select * from account where id=#{id}
	</select>
    <!-- 排序全查 -->
    <select id="findAllAndSort" parameterType="java.util.List" resultType="Account">
        select * from account
        <foreach collection="orderItems" open="order by "  item="orderItem" separator=",">
            ${orderItem}
        </foreach>
    </select>
    <!-- 排序+筛选全查 -->
    <select id="completeQuery" parameterType="QueryInfo" resultType="Account">
        select * from account
        <where>
            <if test="colValueItems!=null and colValueItems.size>0">
                <foreach collection="colValueItems" open="" item="colValueItem">
                    AND ${colValueItem}
                </foreach>
            </if>
        </where>
        <if test="orderItems!=null and orderItems.size>0">
            <foreach collection="orderItems" open="order by "  item="orderItem" separator=",">
                ${orderItem}
            </foreach>
        </if>
        <if test="limitBegin!=null and pageDataCount!=null">
            Limit ${limitBegin},${pageDataCount}
        </if>
    </select>
    <!-- 查询单列存在的值 -->
    <select id="findColValues" parameterType="String" resultType="String">
		select DISTINCT ${colName} from account order by ${colName}
	</select>
    <!-- 查询行数 -->
    <select id="findCount" resultType="INTEGER">
		select Count(*) from account
	</select>
    <!-- 查询筛选后的行数 -->
    <select id="findScreenCount" parameterType="QueryInfo" resultType="INTEGER">
        select Count(*) from account
        <where>
            <foreach collection="colValueItems" open="" item="colValueItem">
                AND ${colValueItem}
            </foreach>
        </where>
    </select>

    <!-- 插入多行数据 -->
    <insert id="adds" parameterType="List">
        insert into account(name,password,user,role,state)
        values
        <foreach collection="datas" separator="," item="data">
            ('${data.name}','${data.password}','${data.user}','${data.role}','${data.state}')
        </foreach>
    </insert>

    <!-- 删除多行数据 -->
    <delete id="dels" parameterType="List">
        delete from account
        <where>
            <if test="ids!=null and ids.size>0">
                <foreach collection="ids" open="id in (" separator="," close=")" item="id">
                    '${id}'
                </foreach>
            </if>
        </where>
    </delete>

    <!-- 更新一行数据 -->
    <!-- 只更新可以更新的部分 -->
    <update id="edit" parameterType="Account" >
        update account
        <set>
            name=#{name},
            password=#{password},
            user=#{user},
            role=#{role},
            state=#{state},
        </set>
        where id=#{id}
    </update>


</mapper>